@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "NanumPenScript";
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: "Regular";
  src: url("/fonts/NanumPenScript.woff2") format("woff2");
}

:root {
  /* Verde - Simplicidad */
  --color-green-500: #22c55e;
  
  /* Azul - Profesionalismo */
  --color-blue-600: #2563eb;
  
  /* Naranja - Energía */
  --color-orange-500: #f97316;
  
  /* Gris - Neutralidad */
  --color-gray-600: #4b5563;
  
  /* Morado - Tecnología */
  --color-purple-600: #9333ea;
}



.span-badge-simple { background-color: var(--color-green-500); }
.span-badge-empresarial { background-color: var(--color-blue-600); }
.span-badge-ecommerce { background-color: var(--color-orange-500); }
.span-badge-mantenimiento { background-color: var(--color-gray-600); }
.span-badge-ia { background-color: var(--color-purple-600); }

section.section-badge-solutions {
  margin-top: 30px;
}
section.section-badge-solutions span {
  font-size: 0.90rem;
  font-family: 'inter';
  color: #fff;
  border-radius: .5rem;
}
.backdrop-blur {
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
}

.backdrop-blur-nav {
  -webkit-backdrop-filter: blur(12px);
  backdrop-filter: blur(12px);
}
code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  @apply mr-8 inline-block w-4 text-right text-gray-600;
}
.mask {
  mask-image: radial-gradient(rgba(0, 0, 0, 1) 0%, transparent 80%);
}

a {
  @apply scroll-my-24 decoration-gray-400 transition-all;
}

.anchor-link {
  @apply invisible absolute -ml-4 w-3/4 max-w-2xl cursor-pointer pr-2 no-underline;
}

.anchor-link:hover {
  @apply visible;
}

.anchor-link:after {
  @apply text-gray-400 dark:text-gray-600;
  content: "#";
}

*:hover > .anchor-link {
  @apply visible;
}
